<hr />

<div class="row">
    <div class="col-sm-6">
        <h1>Title: </h1>
        <ul class="list-unstyled list-margin">
            <li><span class="glyphicon glyphicon-calendar list-item-margin">Year: </span> </li>
            <li><span class="glyphicon glyphicon-cd list-item-margin">Media: </span> </li>
            <li><span class="glyphicon glyphicon-user list-item-margin">Author: </span> </li>
            <li><span class="glyphicon glyphicon-ok list-item-margin">State: </span> </li>

            <li><button class="btn-info  btn-danger list-item-margin">Borrow</button></li>
        </ul>
    </div>
    <div class="col-sm-6">
        <img class="img-thumbnail" src="../home/images/books.jpg" />
    </div>
</div>

<hr />
